@import "../_mixins.scss";

.paper {
    min-height: 200px;
    padding: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: "0px auto";
    transition: all 1s ease !important;
    &:hover {
        transform: scale(1.02);
    }
    .col1 {
        flex-basis: 20%;
    }
    .col2 {
        flex-basis: 80%;
        margin-left: 7px;
        h2 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 22px;
            font-size: clamp(16px, 4vw, 22px);
            color: $secondary_color;
        }
        p {
            font-size: 16px;
            font-size: clamp(11px, 3vw, 16px);
            line-height: 24px;
            color: $primary_color;
            font-weight: bold;
            a {
                @extend p;
                text-decoration: none;
                transition: 0.5s;
                display: inline-block;
                padding: 15px 0px;
                &:hover {
                    color: #10964d !important;
                }
            }
        }
    }
}

.icon_styles {
    font-size: 50px;
    color: $primary_color;
}

// media query
@media screen and (max-width: 480px) {
    .icon_styles {
        font-size: 25px;
    }
    .col2 {
        p {
            font-size: 13px;
            line-height: 0px;
        }
    }
}
