* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* for react carousel */
.carousel .slider-wrapper {
  height: 30vh !important;
}

@media only screen and (max-width: 480px) {
  .carousel .slider-wrapper {
    height: 18vh !important;
  }
}